.header {
  display: flex;
  width: 100%;
  align-items: center;
}

.header h2 {
  margin-right: auto;
}

.addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  width: 3rem;
  height: 2rem;
  border-radius: 1rem;
}

.addButton svg {
  width: 1.5rem;
  height: 1.5rem;
}

.addButton:hover {
  background-color: lightgray;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table th {
  padding: 0.5rem 0.25rem;
}

.table td {
  padding: 0.5rem 0.25rem;
}

.tableHeader {
  border-bottom: 2px solid lightgray;
}

.tableRow {
  border-bottom: 1px solid lightgray;
}

.tableRow a {
  color: blue;
}

.tableRow:hover {
  background-color: whitesmoke;
}
